@model IEnumerable<CakeShop.Models.ViewModels.Shop.ProductVM>

@{
    ViewBag.Title = ViewBag.CategoryName;
}

<h3 align="center">@ViewBag.CategoryName</h3>


    <div class="card-group">
        @foreach (var item in Model)
        {

            <div class="card col-md-3" align="center" style="width: 290px; height: 200px;  border: 1px solid #d0bfbf; margin: 5px 11px;border-radius: 10px;">
                <img src="/Images/Uploads/Products/@item.Id/Thumbs/@item.ImageName" width="130" height="100"class="rounded mx-auto d-block" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><i>@Html.DisplayFor(modelItem => item.Name)</i></h5>
                    <p class="card-text" style="font-size: 12px;">Цена: $@Html.DisplayFor(modelItem => item.Price)</p>
                    <a href="/shop/product-details/@item.Slug" type="button" class="btn btn-info">Подробнее</a>
                </div>
            </div>

        }
        <hr class="my-4">
    </div>
  
